DAEMON_LIST = $(DAEMON_LIST), COLLECTOR, NEGOTIATOR, STARTD

ALLOW_ADMINISTRATOR = condor@$(CONDOR_HOST)/$(CONDOR_HOST)
ALLOW_NEGOTIATOR = condor@$(CONDOR_HOST)/$(CONDOR_HOST)
ALLOW_NEGOTIATOR_SCHEDD = condor@$(CONDOR_HOST)/$(CONDOR_HOST) $(FLOCK_NEGOTIATOR_HOSTS)
ALLOW_OWNER = condor@$(CONDOR_HOST)/$(CONDOR_HOST)
ALLOW_READ = *
