# New daemon DN added on Wed Jun 24 14:38:39 2015
# Comment: flocking collector fe and pilot dn
# The following DN will map to pilot
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=com/DC=DigiCert-Grid/O=Open Science Grid/OU=Services/CN=uclhc-fe-1.t2.ucsd.edu

# Temporary for edgar flock tests 2016-03-28
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=com/DC=DigiCert-Grid/O=Open Science Grid/OU=Services/CN=uclhctest.t2.ucsd.edu
